* {box-sizing: border-box;}
html {font-size: 18px;}
body {
    font-family: sofia-pro-soft, sans-serif;
    background: #ccc;
    color: #354;
}
h1, h2, h3 {font-weight: 700; line-height: 1.1; margin-bottom: 1rem;}
h1 {font-size: 27px;}
h2 {font-size: 24px;}
h3 {font-size: 21px;}
p {
    line-height: 1.4;
    margin-bottom: .75rem;
}

#mobile-container {
    background: #f9f4f0;
    width: 375px;
    margin: 0 auto;
    min-height: 100vh;
    border-left: 1px solid #999;
}
#logo {
    background: linear-gradient(#465, #243);
    color: #fff;
    text-align: center;
    font-size: 24px;
    padding: 1rem 0;
    font-weight: 300;
}
nav ul {
    margin: 1rem 1rem .5rem 1rem; 
    display: flex;
    border: 1px solid #354;
}
nav ul li {
    width: 33.33%;
    border-right: 1px solid #354;
    padding: .5rem;
    text-align: center;
    background: #fff;
}
nav ul li.current {
    background: #354;
    color: #fff;
}
nav ul li:last-child {border-right: none;}

main {padding: 1rem;}
#summary {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    font-weight: 300;
}
#summary i {
    margin-right: 12px;
    color: #465;
}
#summary p {margin-bottom: 0;}
#summary p:last-child {font-size: 21px;}

label {
    display: block; 
    margin-bottom: 6px;
}
input {
    display: block; 
    width: 100%; 
    padding: 8px; 
    font-size: 18px;
    color: #333;
}
.star {font-size: 24px;}
.hint {
    font-weight: 300;
    color: #666;
    font-size: 15px;
}
.no-hint {margin-bottom: .75rem;}